<nav class="container w-100 d-flex justify-content-between p-3">
    <h1>To-Do</h1>
    <ul class="list-unstyled d-flex gap-5">
        <li><a class="text-decoration-none" href="/">Home</a></li>
        <li><a class="text-decoration-none" href="/signup">Sign-Up</a></li>
        <li><a class="text-decoration-none" href="/signin">Sign-In</a></li>
    </ul>
</nav>